@page "/blog/category/create"
@rendermode InteractiveServer
<h3>CategoryCreate</h3>

<EditForm Model="Category" FormName="CreateCategory" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="control">
        <label for="name">Name</label>
        <InputText id="name" class="input" @bind-Value="Category.Name" aria-required="true" />
        <ValidationMessage For="() => Category.Name"></ValidationMessage>
    </div>

    <div class="control">
        <label for="description">Description</label>
        <InputText id="description" class="input" @bind-Value="Category.Description" aria-required="true" />
        <ValidationMessage For="() => Category.Description"></ValidationMessage>
    </div>

    <div class="control">
        <label for="isPublished">Is Published</label>
        <InputCheckbox id="isPublished" class="input" @bind-Value="Category.IsPublished" aria-required="true" />
    </div>
    <button type="submit" class="button is-primary">Save</button>
</EditForm>